{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Report {% endblock title %}
{% block content %}
    <div class="page-header">
        <h1> Reports and Data </h1>
    </div>
    <div><p></strong>.</p></div>
    <div class="row placeholders">
       <div class="col-xs-12 col-sm-6 placeholder">
       <div class="panel panel-primary">
       <div class="panel-heading">
        <h3 class="panel-title"> FoodItems Sales </h3>
       </div>
       </div>
       <ul class="list-group">
         <li class="list-group-item"> <a href="{% url 'today_sales_report' %}">Todays</a></li>
         <li class="list-group-item"> <a href="{% url 'week_sales_report' %}">Weeks</a></li>
         <li class="list-group-item"> <a href="{% url 'month_sales_report' %}">Months</a></li>
         <li class="list-group-item"> <a href="{% url 'overall_sales_report' %}">Overall</a></li>
        </ul>
        </div>
        <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
        <div class="panel-heading">
        <h3 class="panel-title"> Goods Expenses </h3>
        </div>
        </div>
       <ul class="list-group">
         <li class="list-group-item"> <a href="{% url 'today_expenses_report' %}">Todays</a></li>
         <li class="list-group-item"> <a href="{% url 'week_expenses_report' %}">Weeks</a></li>
         <li class="list-group-item"> <a href="{% url 'month_expenses_report' %}">Months</a></li>
         <li class="list-group-item"> <a href="{% url 'overall_expenses_report' %}">Overall</a></li>
        </ul>
        </div>
       </div>
{% endblock %}
