{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} expense bill {% endblock title %}
{% block content %}
    <div class="page-header">
        <h1> Expense Bill Information </h1>
    </div>
    <div><p></strong>.</p></div>
    <div class="row placeholders">
       <div class="col-xs-12 col-sm-22 placeholder">
       <div class="panel panel-primary">
       <div class="panel-heading">
        <h3 class="panel-title"> Adding ExpenseBill  </h3>
       </div>
       </div>
       <div>
       <form class="form-horizontal form-inline" action="{% url 'expensebill' %}" method="post">
            {% csrf_token %}
            {{formset.management_form }}
            <div class="bill_items">
                {% for form in formset %}
                <div class="bill_item" id="bill-{{ forloop.counter0 }}">
                <tr><th> <label for="id_form-{{ forloop.counter0 }}-srno">Srno:</label>
                </th><td>
                <input class="serialnumber" id="id_form-{{forloop.counter0 }}-srno"
                name="form-{{ forloop.counter0 }}-srno" type="number" value="1" />
                {{ form }}
                <tr><th><label for="id_form-{{ forloop.counter0 }}-total">Total:</label></th><td>
                <input id="id_form-{{ forloop.counter0 }}-total" class="total"
                name="form-{{ forloop.counter0 }}-total" step="any"
                type="number" value="0" />
                </div>
                {% endfor %}
            </div>
            <input type="button" class="btn btn-info add-item" id="add_more" value="Add more">
        <hr>
        <strong>Grand Total : </strong> <input id="gtotal" type="text" name="gtotal" />
        <input class="btn btn-primary" type="submit" name="submit" value="Submit" />
       </form>
       </div>
        </div>
     </div>
{% endblock %}
