{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Home {% endblock title %}
{% block content %}
    <div class="page-header">
        <h1> Food Bill Information </h1>
    </div>
    <div><p></strong>.</p></div>
    <div class="row placeholders">
       <div class="col-xs-12 col-sm-22 placeholder">
       <div class="panel panel-primary">
       <div class="panel-heading">
        <h3 class="panel-title"> Adding FoodBill  </h3>
       </div>
       </div>
       <div>
       <form class="bill_form" action="#" method="post">
            {{form.as_table}}
        <hr>
        <strong>Grand Total : </strong> <input id="gtotal" type="text" name="gtotal" />
        <input class="btn btn-primary" type="submit" name="submit" value="Submit" />
       </form>
       </div>
        </div>
     </div>
{% endblock %}
