{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Home {% endblock title %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="page-header">
        <h1> Hi {{ user.username }} </h1>
        {% else %}
        <h1> Hi Guest </h1>
        {% endif %}
    </div>
    <div><p></strong>.</p></div>
    <div class="row placeholders">
       <div class="col-xs-12 col-sm-12 placeholder">
       <div class="panel panel-primary">
       <div class="panel-heading">
       </div>
       </div>
        <img class="img-thumbnail" src="{% static 'images/res_menu_card_back.png' %}"
        alt="MenuCard_back" width=800 height=800/>
        <img class="img-thumbnail" src="{% static 'images/res_menu_card.png' %}"
        alt="MenuCard" width=800 height=800/>
       </div>
    </div>
{% endblock %}
